API_BASE_URL=http://localhost:8000
ANDROID_PACKAGE_NAME=com.shashigemini.cs698repo
ANDROID_CERT_HASH=DUMMY_HASH
IOS_BUNDLE_ID=com.shashigemini.cs698repo
IOS_TEAM_ID=DUMMY_TEAM_ID
SECURITY_WATCHER_MAIL=security@spiritualqa.com
SSL_CERT_FINGERPRINT=DUMMY_FINGERPRINT
USE_SSL_PINNING=false
